name: Continuous Delivery

on:
  pull_request:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      
      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

     
      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      
      - name: Build da imagem Docker
        run: docker build -t ${{ vars.DOCKER_USER }}/testecp:latest .

      
      - name: Push da imagem Docker para o Docker Hub
        run: docker push ${{ vars.DOCKER_USER }}/testecp:latest

      - name: Confirmação
        run: echo "Imagem enviada com sucesso para o Docker Hub!"
